/* MOBILE */
@media (max-width: 767px) {
  /*HEADER*/
  /*Newsletter*/
  #header-newsletter {
    display: none;
  }

  /* Menu Principal */
  .header {
    justify-content: space-between;
    gap: 3vw;
    margin: 1.5rem;
  }

  .header-logo-bear {
    width: 2.304rem;
    height: 2.544rem;
    margin-bottom: 1rem;
  }

  .header-logo-text {
    font-size: 1rem;
  }

  .header-menu-icon img {
    width: 1.68rem;
    height: 1.68rem;
  }

  #menu-mobile {
    display: flex;
    width: 2.5rem;
    height: 2.5rem;
  }

  #nav {
    display: none;
  }

  /* Search */
  .header {
    flex-direction: column;
  }

  .search-bar {
    display: inline-block;
    width: 100%; /* Ocupa toda a largura do container */
    height: 2rem;
    font-size: 0.8rem;
  }

  #search-btn {
    pointer-events: none;
  }

  .header-menu {
    gap: 0.5rem;
  }

  /*Hover dos icones*/
  #search-btn:hover,
  #user-btn:hover img,
  #favorite-btn:hover,
  #bag-btn:hover img {
    background-image: none;
    content: none;
  }

  /* Button */
  #blue-button {
    display: none;
  }

  #blue-button {
    display: none;
  }

  #menu-group {
    gap: 5vw;
  }

  /*SEÇÃO 1*/
  /*Texto promocional GUND*/

  #gund-discount {
    flex-direction: column-reverse;
    background-color: var(--color-brown);
  }

  #gund-discount-group {
    font-size: 2.6vw;
    font-weight: 700;
    position: relative;
    white-space: nowrap;
    align-items: center;
    padding: 1rem;
    gap: 4rem;
  }

  #gund-discount-text-one {
    background-color: transparent;
    box-shadow: none;
    border: 0;
    padding: 0;
    margin-right: -95px;
  }

  #gund-discount-text-two {
    background-color: transparent;
    box-shadow: none;
    font-weight: 500;
    padding: 12px 35px 12px;
    border: 0;
    padding: 0.3rem;
  }

  /*SEÇÃO 2*/
  /*Header*/
  .plush-collection {
    padding: 1rem;
  }
  #plush-collection-header {
    padding: 0.8rem 0 2rem 0;
  }
  #plush-collection-header-title {
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--color-dark-brown);
    margin-bottom: 0.8rem;
  }

  #plush-collection-header-paragraph {
    font-size: 0.9rem;
    width: 80%;
  }

  /*Coleção de Pelúcias*/
  .plush-collection-articles {
    gap: 1.5rem;
    flex-direction: column;
    width: 60%;
  }

  .plush-collection-articles-item {
    flex: 0 0 auto;
    max-width: 17.5rem;
    min-width: 11.2rem;
    border-radius: clamp(1rem, 1vw, 1rem);
    padding: 0.175rem;
    padding-bottom: 1.19rem;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1), 0px 2px 4px rgba(0, 0, 0, 0.08);
    scroll-snap-align: start;
  }

  .plush-collection-articles-item-title {
    font-size: clamp(1rem, 4vw, 1rem);
  }

  .plush-collection-articles-item-paragraph {
    font-size: clamp(0.66rem, 2vw, 0.66rem);
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  /*SEÇÃO 3*/
  /*Header*/
  /*Título da Seção*/
  .title-section {
    font-size: 0.75rem;
    font-weight: 600;
    color: var(--color-dark-brown);
    margin-bottom: 1.7rem;
    width: 75%;
    padding: 0.2rem;
    gap: 0rem;
  }

  .title-section img {
    width: 2rem;
    height: auto;
  }

  /*Coleção de Pelúcias*/
  #plush-gap {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3vw;
    justify-content: center;
    margin-bottom: 3rem;
    width: 80%;
    height: auto;
  }

  .plush-collection-articles-item-lower {
    max-width: 100%;
    width: auto;
    padding: 0.13rem;
    border-radius: clamp(1rem, 1vw, 1rem);
  }

  .plush-collection-articles-item-lower-product {
    height: 8rem;
  }

  .plush-collection-articles-item-lower-text {
    margin-bottom: 0.5rem;
  }

  .plush-collection-articles-item-lower-title {
    font-size: 0.9rem;
  }

  #plush-collection-articles-item-lower-stars {
    max-width: 4.2rem;
  }

  .plush-collection-articles-item-lower-price {
    font-size: 0.9rem;
  }

  /*SEÇÃO 4*/
  /*Header*/
  .about-us-article {
    width: 100%;
  }

  .big-title {
    flex-direction: column;
  }

  .big-title img {
    width: 3rem;
  }

  .big-title-title {
    font-size: 2rem;
    text-align: center;
  }

  .about-us-article-item {
    width: 100%;
  }

  .about-us-article-item img {
    width: 2.5rem;
  }

  .about-us-article {
    flex-direction: column;
    gap: 5vw;
  }

  .about-us-article-title {
    font-size: 0.8rem;
  }

  .about-us-article-paragraph {
    width: 100%;
    font-size: 0.6rem;
  }

  /*SEÇÃO 5*/
  /*Coleção de Pelúcias*/
  #top-plushies-title {
    margin: 0;
    top: -1.9rem;
  }

  .plush-collection-articles-item-lower {
    max-width: 100%;
    width: auto;
    padding: 0.13rem;
    border-radius: clamp(1rem, 1vw, 1rem);
  }

  #plushies {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3vw;
    justify-content: center;
    margin-bottom: 4rem;
    width: 80%;
    height: auto;
  }

  .plush-collection-articles-item-lower-product {
    height: 8rem;
  }

  .plush-collection-articles-item-lower-text {
    margin-bottom: 0.5rem;
  }

  .plush-collection-articles-item-lower-title {
    font-size: 0.9rem;
  }

  #plush-collection-articles-item-lower-stars {
    max-width: 4.2rem;
  }

  .plush-collection-articles-item-lower-price {
    font-size: 0.9rem;
  }

  /* SEÇÃO 06 */

  .especial-plush {
    padding-top: 4rem;
  }

  .especial-plush-articles {
    flex-direction: column;
  }

  /* Big Article */
  #big-title-tablet {
    flex-direction: column;
  }

  #big-title-tablet img {
    width: 2.5rem;
  }

  #especial-plush-big-article {
    width: 20rem;
    height: auto;
    border-radius: 2rem;
  }

  .especial-plush-big-article-text {
    padding: 1rem 2rem 3rem 2rem;
  }

  .especial-plush-big-title {
    font-size: 1.7rem;
  }

  #big-title-tablet {
    text-align: center;
  }

  /* Lower Articles */
  .especial-plush-article-lower {
    width: 100%;
    align-items: center;
    position: relative;
  }

  .especial-plush-lower-article {
    position: relative;
    flex-direction: column;
    width: 20rem;
    height: auto;
  }

  .especial-plush-title {
    font-size: 1.5rem;
  }

  .especial-plush-article-text {
    padding: 3rem 2rem 3rem 2rem;
  }

  #especial-plush-img-tablet {
    background-color: var(--color-beige);
  }
  /* SEÇÃO 07 */
  /*Header*/

  #reviews-img {
    width: 2rem;
  }

  #reviews-title {
    font-size: 1rem;
    padding: 0rem 1rem;
    top: -4.5rem;
  }

  .review-article {
    width: 100%;
    flex-direction: column;
    gap: 1.5rem;
  }

  .review-article-item {
    width: 100%;
  }

  .review-article-item-text {
    font-size: 1rem;
    text-align: center;
    display: -webkit-box;
    -webkit-line-clamp: 6; /* Limita a 6 linhas */
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  /*FOOTER*/

  #footer-newsletter {
    flex-direction: column;
    gap: 1rem;
  }

  #form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  #footer-newsletter-title {
    margin-bottom: 1rem;
  }

  #footer-privacy {
    font-size: 0.6rem;
    margin-top: 1rem;
  }

  #form button {
    padding: 0.5rem 1rem;
  }

  #line-container {
    padding: 0.5rem 4rem 2rem 4rem;
  }

  #footer-links {
    flex-direction: column;
    width: 100%;
  }

  .footer-links-column {
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  .footer-links-column-title {
    font-size: 1rem;
  }

  .footer-links-column-list {
    font-size: 0.8rem;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
  }

  #credits {
    flex-direction: column;
  }

  #footer-logo {
    flex-direction: column;
    gap: 1.5rem;
  }

  #footer-form {
    align-items: center;
  }
}
