/* Configurações Gerais */
@import url("https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap");

:root {
  /*Fontes*/
  --font: "Roboto Serif", serif;

  /*Paleta de cores*/
  --color-white: #ffffff;
  --color-off-white: #f7f2ec;

  --color-light-blue: #e1ede9;
  --color-aqua: #89d3d2;

  --color-beige: #f0dacd;
  --color-brown: #bf8b70;
  --color-dark-brown: #29180f;
}

/* Resetando configurações padrão */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Define a fonte Padrão */
body {
  font-family: var(--font);
  line-height: 1.5;
}

/* Remove as configurações padrões dos títulos */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

/* Remove as configurações padrões das listas */
ul {
  list-style: none;
}

/* Remove as configurações padrões dos links*/
a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: inherit;
  text-decoration: none;
}

a:focus {
  outline: none;
}

/* Remove as configurações padrões dos botões */
button {
  border: none;
  background: none;
}

/* DESKTOP*/
/*Newsletter*/
#header-newsletter {
  display: flex;
  background-color: var(--color-beige);
  color: var(--color-dark-brown);
  overflow: hidden;
}

#header-newsletter-text {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  padding: 0.625rem;
  width: 100%;
  height: 2.4rem;

  margin: 0 3rem;
  font-size: 0.9375rem;
  font-weight: normal;
  text-align: center;
  overflow: hidden;
}

/* Menu Principal */
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 2rem;
  gap: 1.8vw;
}

.header-logo {
  display: flex;
  align-items: center;
  gap: 0rem;
}

.header-logo-bear {
  width: 2.4rem;
  height: 2.65rem;
}

.header-logo-text {
  font-size: 1.05rem;
  color: var(--color-dark-brown);
  font-family: "Roboto Serif", serif;
  font-variation-settings: "wght" 600;
  font-style: italic;
  line-height: 0.9;
}

#header-logo-text-shop {
  margin-left: 1rem;
}

.header-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  width: auto;
}

.header-menu-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  gap: 1.5vw;

  color: var(--color-dark-brown);
  font-size: 1rem;
  font-family: var(--font);
  font-weight: 500;
}

.header-menu-list img {
  width: 1.5rem;
  height: 1.5rem;
}

#header-menu-list-categorie {
  display: flex;
}

#header-menu-list-drop {
  display: none;
}

/*Icones do Menu*/
#menu-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  gap: 1.8vw;
}

.header-menu-icon {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  gap: 1rem;
}

#header-menu-icon {
  display: flex;
  align-items: center;
}

#header-menu-icon img {
  width: 1.5rem;
  height: 1.5rem;
}

#header-icons-list {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

/*Botão do Menu*/
#blue-button {
  background-color: var(--color-aqua);
  color: var(--color-white);
  font-size: 0.9rem;
  font-family: var(--font);
  font-weight: 500;

  padding: 7.5px 15px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  text-align: center;
  display: inline-block;
  text-decoration: none;
  white-space: nowrap;
  max-width: 100%;
}

#body-banner {
  width: 100%;
  overflow: hidden;
}

#body-banner img {
  width: 100%;
  max-width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
}

#menu-mobile {
  display: none;
}

/* MOBILE */
@media (max-width: 1024px) {
  /*Newsletter*/
  #header-newsletter {
    display: none;
  }

  /* Menu Principal */
  .header {
    justify-content: space-between;
    gap: 3vw;
    margin: 1rem;
  }

  .header-logo-bear {
    width: 1.92rem;
    height: 2.12rem;
  }

  .header-logo-text {
    font-size: 0.84rem;
  }

  #header-menu-icon img {
    width: 1.4rem;
    height: 1.4rem;
  }

  #menu-mobile {
    display: flex;
    width: 2.5rem;
    height: 2.5rem;
  }

  #nav {
    display: none;
  }

  #blue-button {
    display: none;
  }

  #menu-group {
    gap: 5vw;
  }
}

/* TABLET*/
@media (min-width: 768px) and (max-width: 1024px) {
  /* Menu Principal */
  .header-logo-bear {
    width: 2.4rem;
    height: 2.65rem;
  }

  .header-logo-text {
    font-size: 1rem;
  }

  #header-menu-icon img {
    width: 1.5rem;
    height: 1.5rem;
  }

  #menu-mobile {
    display: none;
  }

  #menu-group {
    gap: 1.5vw;
  }

  #nav {
    display: flex;
  }

  .header-menu-list {
    font-size: 0.9rem;
  }

  .header-menu-list img {
    width: 0.95rem;
    height: 0.95rem;
  }
}
