/* Configurações Gerais */
@import url("https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap");

:root {
  /*Fontes*/
  --font: "Roboto Serif", serif;

  /*Paleta de cores*/
  --color-white: #ffffff;
  --color-off-white: #f7f2ec;

  --color-light-blue: #e1ede9;
  --color-aqua: #89d3d2;

  --color-beige: #f0dacd;
  --color-brown: #bf8b70;
  --color-dark-brown: #29180f;

  --color-gold: #c9b079;
  --color-black: #000000;
}

/* Resetando configurações padrão */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Define a fonte Padrão */
body {
  font-family: var(--font);
  line-height: 1.5;
}

/* Remove as configurações padrões dos títulos */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

/* Remove as configurações padrões das listas */
ul {
  list-style: none;
}

/* Remove as configurações padrões dos links*/
a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: inherit;
  text-decoration: none;
}

a:focus {
  outline: none;
}

/* Remove as configurações padrões dos botões */
button {
  border: none;
  background: none;
}

/* DESKTOP*/
/*Newsletter*/
#header-newsletter {
  display: flex;
  background-color: var(--color-beige);
  color: var(--color-dark-brown);
  overflow: hidden;
}

#header-newsletter-text {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  padding: 0.625rem;
  width: 100%;
  height: 2.4rem;

  margin: 0 3rem;
  font-size: 0.9375rem;
  font-weight: normal;
  text-align: center;
  overflow: hidden;
}

/* Menu Principal */
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 2rem;
  gap: 1.8vw;
  background-color: var(--color-white);
}

.header-logo {
  display: flex;
  align-items: center;
  gap: 0rem;
}

.header-logo-bear {
  width: 2.4rem;
  height: 2.65rem;
}

.header-logo-text {
  font-size: 1.05rem;
  color: var(--color-dark-brown);
  font-family: "Roboto Serif", serif;
  font-variation-settings: "wght" 600;
  font-style: italic;
  line-height: 0.9;
}

#header-logo-text-shop {
  margin-left: 1rem;
}

.header-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  width: auto;
}

.header-menu-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  gap: 1.5vw;

  color: var(--color-dark-brown);
  font-size: 1rem;
  font-family: var(--font);
  font-weight: 500;
}

.header-menu-list img {
  width: 1.5rem;
  height: 1.5rem;
}

#header-menu-list-categorie {
  display: flex;
}

#header-menu-list-drop {
  display: none;
}

/*Icones do Menu*/
#menu-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  gap: 1.8vw;
}

.header-menu-icon {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  gap: 1rem;
}

#header-menu-icon {
  display: flex;
  align-items: center;
}

#header-menu-icon img {
  width: 1.5rem;
  height: 1.5rem;
}

#header-icons-list {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

/*Botão do Menu*/
#blue-button {
  background-color: var(--color-aqua);
  color: var(--color-white);
  font-size: 0.9rem;
  font-family: var(--font);
  font-weight: 500;

  padding: 7.5px 15px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  text-align: center;
  display: inline-block;
  text-decoration: none;
  white-space: nowrap;
  max-width: 100%;
}

#menu-mobile {
  display: none;
}

/*SEÇÃO 1*/
/*Texto promocional GUND*/
#gund-discount {
  display: flex;
  justify-content: center;
  position: relative;
  align-items: self-end;
  overflow: hidden;
}

#gund-discount-group {
  display: flex;
  justify-content: center;
  position: absolute;

  width: 100%;
  top: 0px;

  font-size: 24px;
  font-weight: 500;

  padding: 0 16px;
}

#gund-discount-text-one {
  background-color: var(--color-white);
  color: var(--color-dark-brown);
  border-left: 3px var(--color-gold) solid;
  border-bottom: 3px var(--color-gold) solid;
  box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);

  position: relative;
  z-index: 1;
  border-radius: 0 0 66px 66px;
  padding: 18px 48px 18px;
  margin-right: -125px;
}

#gund-discount-text-two {
  background-color: var(--color-brown);
  color: var(--color-white);
  border: 3px var(--color-gold) solid;
  box-shadow: -5px 4px 40px rgba(0, 0, 0, 0.2);

  position: relative;
  z-index: 2;
  border-radius: 0 0 66px 66px;
  padding: 18px 48px 18px;
  overflow: hidden;
}

/*Imagem de ursos*/
#gund-discount-banner {
  width: 100%;
  overflow: hidden;
  height: auto;
  display: block;
}

#gund-discount-banner img {
  width: 100%;
  max-width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
}

/*SEÇÃO 2*/
/*Header*/
.plush-collection {
  padding: 2rem 5rem;
  background-color: var(--color-off-white);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

#plush-collection-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem 0 3rem 0;
}

#plush-collection-header-title {
  font-size: 3rem;
  font-weight: 600;
  color: var(--color-dark-brown);
  text-align: center;
  margin-bottom: 1rem;
}

#plush-collection-header-paragraph {
  font-size: 1.25rem;
  font-weight: 400;
  color: var(--color-black);
  text-align: center;
  width: 90%;
}

/*Coleção de Pelúcias*/
.plush-collection-articles {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  gap: 3vw;
  margin-bottom: 2rem;
}

.plush-collection-articles-item {
  display: flex;
  flex-direction: column;
  align-items: center;

  flex: 1 1 24.375rem;
  max-width: 25rem;
  min-width: 16rem;

  background-color: var(--color-white);

  border-radius: clamp(1rem, 2vw, 2rem);
  padding: 0.25rem;
  padding-bottom: 1.7rem;

  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.18), 0px 6px 10px rgba(0, 0, 0, 0.12);
}

.plush-collection-articles-item img {
  width: 100%;
  max-width: 24.375rem;
  height: auto;
  object-fit: cover;
}

.plush-collection-articles-item-title {
  font-size: 1.2vw;
  font-weight: 600;
  color: var(--color-dark-brown);
  padding: 0.5rem;
  margin-top: 0.5rem;
}

.plush-collection-articles-item-paragraph {
  font-size: 0.85vw;
  font-weight: 400;
  color: var(--color-black);
  text-align: center;

  width: 90%;
  display: -webkit-box;
}

/*SEÇÃO 3*/
/*Header*/
#spring-collection {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;

  font-size: 1.5rem;
  font-weight: 700;
  font-style: medium italic;
  color: var(--color-dark-brown);
}

/* MOBILE */
@media (max-width: 767px) {
  /*HEADER*/
  /*Newsletter*/
  #header-newsletter {
    display: none;
  }

  /* Menu Principal */
  .header {
    justify-content: space-between;
    gap: 3vw;
    margin: 1rem;
  }

  .header-logo-bear {
    width: 1.92rem;
    height: 2.12rem;
  }

  .header-logo-text {
    font-size: 0.84rem;
  }

  #header-menu-icon img {
    width: 1.4rem;
    height: 1.4rem;
  }

  #menu-mobile {
    display: flex;
    width: 2.5rem;
    height: 2.5rem;
  }

  #nav {
    display: none;
  }

  #blue-button {
    display: none;
  }

  #menu-group {
    gap: 5vw;
  }

  /*SEÇÃO 1*/
  /*Texto promocional GUND*/

  #gund-discount {
    flex-direction: column-reverse;
    background-color: var(--color-brown);
  }

  #gund-discount-group {
    font-size: 2.5vw;
    font-weight: 700;
    position: relative;
    white-space: nowrap;
    gap: 0;
  }

  #gund-discount-text-one {
    background-color: transparent;
    box-shadow: none;
    border: 0;
    padding: 12px 35px 12px;
    margin-right: -95px;
  }

  #gund-discount-text-two {
    background-color: transparent;
    box-shadow: none;
    font-weight: 500;
    padding: 12px 35px 12px;
    border: 0;
  }

  /*SEÇÃO 2*/
  /*Header*/
  .plush-collection {
    padding: 1rem;
  }
  #plush-collection-header {
    padding: 0.8rem 0 2rem 0;
  }
  #plush-collection-header-title {
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--color-dark-brown);
    margin-bottom: 0.8rem;
  }

  #plush-collection-header-paragraph {
    font-size: 0.66rem;
    width: 90%;
  }

  /*Coleção de Pelúcias*/
  .plush-collection-articles {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    gap: 1.5rem;

    flex-wrap: wrap;
    overflow-x: visible;

    width: 80%;
  }

  .plush-collection-articles-item {
    flex: 0 0 auto;
    max-width: 17.5rem;
    min-width: 11.2rem;
    border-radius: clamp(1.4rem, 1.4vw, 1.4rem);
    padding: 0.175rem;
    padding-bottom: 1.19rem;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1), 0px 2px 4px rgba(0, 0, 0, 0.08);
    scroll-snap-align: start;
  }

  .plush-collection-articles-item-title {
    font-size: clamp(1.2rem, 4vw, 1.2rem);
  }

  .plush-collection-articles-item-paragraph {
    font-size: clamp(0.66rem, 2vw, 0.66rem);
  }
}

/* TABLET*/
@media (min-width: 768px) and (max-width: 1024px) {
  /*HEADER*/
  /*Newsletter*/
  #header-newsletter {
    display: none;
  }

  /* Menu Principal */
  .header {
    justify-content: space-between;
    gap: 3vw;
    margin: 1rem;
  }

  .header-logo-bear {
    width: 2.4rem;
    height: 2.65rem;
  }

  .header-logo-text {
    font-size: 1rem;
  }

  #header-menu-icon img {
    width: 1.5rem;
    height: 1.5rem;
  }

  #menu-mobile {
    display: none;
  }

  #menu-group {
    gap: 1.5vw;
  }

  #nav {
    display: flex;
  }

  #blue-button {
    display: none;
  }

  #menu-group {
    gap: 5vw;
  }

  .header-menu-list {
    font-size: 1.7vw;
  }

  .header-menu-list img {
    width: 0.95rem;
    height: 0.95rem;
  }

  /*SEÇÃO 1*/
  /*Texto promocional GUND*/
  body #gund-discount-group {
    font-size: 15px;
    font-weight: 500;
  }

  body #gund-discount-text-one {
    border-left: 2.5px var(--color-gold) solid;
    border-bottom: 2.5px var(--color-gold) solid;
    padding: 12px 35px 12px;
    margin-right: -95px;
  }

  body #gund-discount-text-two {
    padding: 12px 35px 12px;
    border-left: 2.5px var(--color-gold) solid;
    border-bottom: 2.5px var(--color-gold) solid;
    border-top: 2.5px var(--color-gold) solid;
  }

  /*SEÇÃO 2*/
  /*Header*/
  #plush-collection-header {
    padding: 1rem 0 2rem 0;
  }
  #plush-collection-header-title {
    font-size: 2.2rem;
    font-weight: 600;
    color: var(--color-dark-brown);
    margin-bottom: 0.8rem;
  }

  #plush-collection-header-paragraph {
    font-size: 1rem;
    width: 100%;
  }

  /*Coleção de Pelúcias*/

  .plush-collection-articles-item {
    flex: 1 1 17.0625rem;
    max-width: 17.5rem;
    min-width: 11.2rem;
    border-radius: clamp(0.7rem, 1.4vw, 1.4rem);
    padding: 0.175rem;
    padding-bottom: 1.19rem;
    box-shadow: 0px 2.1px 4.2px rgba(0, 0, 0, 0.18),
      0px 4.2px 7px rgba(0, 0, 0, 0.12);
  }
}
